*{
    font-family: poppins;
    font-size: large;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    margin: 10;
    padding: 10;
    display: flex;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}
label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 8px;
}

button {
    background-color: #2b77aa;
    color: #fff;
    padding: 10px 80px 10px 80px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;   
}
button:hover {
    background-color: #45a049;
}

